body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(134, 134, 134);
    font-family:  'Teko', sans-serif;
}

header {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: rgb(236, 232, 3);
    margin-top: 80px;
}

h1 {
    font-family: 'Teko', sans-serif;
    text-decoration: none;
    color: white;
    margin-top: 60px ;
}


header h1 {
    font-size: 65px;
}

#home {
    position: absolute;
    top: 3vh;
    left: 5vw;
    transition: 0.5s;
    width: 48px;
}

#home:hover {
    transform: scale(0.8);
}

main {
    flex-grow: 1;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grade {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background-color: #695723;
}

.celula {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    width: 33.3%;
    height: 33.3%;
    border-left: 8px solid rgb(194, 194, 194);
    border-bottom: 8px solid rgb(134, 134, 134);
}

.celula:nth-child(1),
.celula:nth-child(4),
.celula:nth-child(7) {
    border-left: 0;
}

.celula:nth-child(7),
.celula:nth-child(8),
.celula:nth-child(9) {
    border-bottom: 0;
}

.celula:hover {
    background-color: rgba(0, 0, 0, 0.13);
}

footer {
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#reiniciar {
    position: absolute;
    bottom: 3vh;
    left: 5vw;
    transition: 0.5s;
    cursor: pointer;
    width: 48px;
}



.pontuacoes {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5vw;
}

h2 {
    font-size: 30px;
}

#jogador {
    color: #49e08d;
}

#computador {
    color: #e77e7e;
}

.modalGanhador {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #0009;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.containerModalGanhador {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
    background-color: rgb(86, 2, 107);
    box-shadow: 0px 0px 20px #000;
}

.containerModalGanhador button {
    background-color: rgb(155, 155, 155);
    width: 25vw;
    height: 6vh;
    font-size: 18px;
    border: 2px solid #000000;
    cursor: pointer;
    transition: 0.5s;
}

.containerModalGanhador button:hover {
    transform: scale(1.05);
}

a:link,
a:visited {
    text-decoration: none;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 24px;
        margin-top: 20vh;
    }

    h2 {
        font-size: 20px;
    }

    .grade {
        width: 350px;
        height: 400px;
    }

    #home,
    #reiniciar {
        width: 48px;
    }

    .pontuacoes {
        margin-bottom: 20vh;
    }

    .containerModalGanhador {
        width: 70%;
        height: 35%;
        padding: 5px;
        text-align: center;
    }

    .containerModalGanhador button {
        width: 60vw;
        height: 7vh;
    }
}