.container-modo-jogo {
    width: 100vw;
    height: 100vh;
    font-family: 'Teko', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #31313198;
    position: absolute;
    top: 0px;
    gap: 150px;
}

/* STYLEZANDO CONTAINER MAQUINA */

.container-maquina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 30%;
    height: 70%;
    gap: 20px;
    border: 15px solid #684de4;
}

/* .container-maquina img {
    width: 35%;
    height: 30%;
} */

.container-maquina h1 {
    font-size: clamp(0.1em, 1em + 2vw, 4em);
    color: #2707b6;
}

.container-maquina p {
    width: 47%;
    font-size: clamp(0.1em, 1em + 0.5vw, 1.2em);
    text-align: center;
    color: #3b3b3b;
    border: 4px solid #3b3b3b;
}

/* .container-maquina button#facil {
    width: 50%;
    height: 12%;
    background-color: #3b7c2e;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: clamp(0em, 1em + 1vw, 2em);
    text-decoration: none;
    text-align: center;
    color: white;
} */

button {
    width: 14vw;
    height: 7vh;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: clamp(0em, 1em + 1vw, 2em);
    text-decoration: none;
    text-align: center;
    color: white;
}

.btn_f {
    background-color: #3b7c2e;
}

.btn_m {
    background-color: #695723;
}

.btn_d {
    background-color: #662323;
}

/* fim container maquina  */

/* STYLEZANDO CONTAINER PLAYER */

.container-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 30%;
    height: 70%;
    gap: 20px;
    border: 15px solid #684de4;
}

/* .container-player img {
    width: 35%;
    height: 30%;
} */

.container-player h1 {
    font-size: clamp(0.1em, 1em + 2vw, 4em);
    color: #2707b6;
}

.container-player p {
    width: 40%;
    font-size: clamp(0.1em, 1em + 0.5vw, 1.2em);
    text-align: center;
    color: #3b3b3b;
    border: 4px solid #3b3b3b;
}

.btn_j {
    background-color: #2b1f5e;
}

/* fim container player  */

button:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

